
#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  min-height: 100vh;
  max-width: 80%;
  margin: auto;
}

.content {
  max-width: 50%;
}

.content .p-s {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.text-color-p {
  color: rgba(212, 234, 233, 1);
}

.text-color-s {
  color: rgba(160, 167, 165, 1);
  font-size: 1.9rem;
  font-weight: 600;
}

.content h1 {
  margin-bottom: 2rem;
}
.h1-f {
  font-size: 2.3rem;
}
.content h1 .name {
  font-size: 2.8rem;
  color: #f0a500;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.buttons button {
  min-width: 12rem;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  color: #0d1b2a;
  border-radius: 5px;
}

.buttons .btn-1 {
  background-color: #eab41e;
  color: white;
  border: none;
  font-weight: 600;
  border: 2px solid #eab41e;
}

.buttons .btn-1:hover {
  opacity: 0.9;
}

.buttons .btn-1 a {
  text-decoration: none;
  color: white;
}

.buttons .btn-2 {
  background-color: transparent;
  border: 2px solid #eab41e;
  color: #eab41e;
  font-weight: 600;
}

.buttons .btn-2:hover {
  background-color: #eab41e;
  color: white;
}

.illustration {
  align-self: center;
}

.illustration img {
  width: 41vw;
}
@media only screen and (max-width: 1070px) {
  #home {
    margin: 5% auto;
  }
  .h1-f {
    font-size: 1.7rem;
  }
  h1 .name {
    font-size: 2rem !important;
  }
  .text-color-s {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 900px) {
  content .p-s {
    font-size: 1.2rem;
  }

  .text-color-s {
    font-size: 1.4rem;
  }

  .content h1 {
    font-size: 2rem;
  }

  .buttons button {
    min-width: 10rem;
    padding: 8px 16px;
  }
}

@media only screen and (max-width: 600px) {
  #home {
    margin: 5% auto;
    justify-content: center;
    padding: 0;
  }
  .content {
    max-width: 75%;
  }

  .buttons button {
    min-width: 14rem;
    padding: 8px 16px;
  }

  .illustration {
    display: none;
  }
  .content .p-s {
    font-size: 5vw;
    margin-bottom: 3vw;
  }
  .h1-f {
    font-size: 5.6vw;
  }
  .name {
    font-size: 7vw;
  }

  .text-color-s {
    font-size: 4vw;
  }

  .content h1 {
    margin-bottom: 3vw;
  }
}

@media only screen and (max-width: 400px) {
  .content {
    max-width: 82%;
  }
  .content .p-s {
    font-size: 6vw;
    margin-bottom: 3vw;
  }

  .h1-f {
    font-size: 6.7vw;
  }

  .name {
    font-size: 8.5vw;
  }

  .text-color-s {
    font-size: 5vw;
  }

  .buttons button {
    min-width: 10rem;
    padding: 6px;
  }
  .buttons .btn-1 {
    font-weight: 400;
    font-size: 5vw;
  }

  .buttons .btn-2 {
    font-weight: 400;
    font-size: 5vw;
  }
}

/* #home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    max-width: 80%;
    margin: auto;
}

.content {
    max-width: 50%;
}


.content .p-s{
    font-size: 1.5rem;
    font-weight: 600;
}
.text-color-p{
    color: rgba(212, 234, 233, 1);
}
.text-color-s{
    color: rgba(160, 167, 165, 1);
    font-size: 1.9rem;
    font-weight: 600;
}
.content h1 {
    font-size: 3rem;
}

.content h1 .name {
    color: #f0a500;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    min-width: 12rem;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 1rem;
    color: #0d1b2a;
    border-radius: 5px;
}

.buttons .btn-1{
    background-color: #eab41e;
    color: white;
    border: none;
    font-weight: 600;
        border: 2px solid #eab41e;
    }
    .buttons .btn-1:hover{
        opacity: 0.9;
    }
    .buttons .btn-1 a {
        text-decoration: none;
        color: white;
    }
.buttons .btn-2{
    background-color: transparent;
    border:2px solid #eab41e;
    color: #eab41e;
    font-weight: 600;
}
.buttons .btn-2:hover{
    background-color: #eab41e;
    color: white;
}

.illustration img{
    width: 41vw;
}

 */
