<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | Sanandiya Yash</title>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/about.css" />
</head>

<body>
    <%- include('./include/nav') %>
        <div class="container">
            <section class="about">
                <h1>About</h1>
                <p class="about-p1">
                    Hello, My name is Sanandiya Yash.and I am from Pithadiya, Rajkot,
                    Gujarat. Currently, I am pursuing my B.Tech degree in Computer
                    Engineering at Silver Oak University.
                </p>
                <p class="about-p2">
                    Eager to apply my knowledge gained from computer engineering to
                    real-world projects. I thrive in collaborative environments, absorbing
                    knowledge and adapting quickly. Seeking an opportunity to contribute
                    and expand my skills while making a positive impact.
                </p>
            </section>
            <section class="tech-stack">
                <h2>My Tech Stack</h2>
                <div class="tech-icons">
                    <p class="icon">
                        <i class="devicon-html5-plain colored icon-html">
                            <span class="c-w">HTML</span></i>
                    </p>
                    <p class="icon">
                        <i class="devicon-css3-plain colored icon-css">
                            <span class="c-w">CSS</span></i>
                    </p>
                    <img src="/images/languages img/javascript.svg" alt="" />
                    <img src="/images/languages img/node.svg" alt="" />
                    <img src="/images/languages img/express.js.svg" alt="" />
                    <img src="/images/languages img/mysql.svg" alt="" />
                    <img src="/images/languages img/MongoDB.svg" alt="" />
                    <img src="/images/languages img/react.svg" alt="" />
                    <img src="/images/languages img/tailwindcss.svg" alt="" />
                </div>
            </section>
        </div>
        <script src="https://unpkg.com/scrollreveal"></script>
        <script src="/js/index.js"></script>
</body>

</html>