<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Sanandiya Yash</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/experiance.css">
</head>

<body>
    <%- include('./include/nav') %>
        <div class="experience-section">
            <h1>Experience</h1>
            <div class="experience-card">
                <h2>Intern at codsoft</h2>
                <p>
                    <strong>Duration:</strong> Dec 2023 - Jan 2024
                </p>
                <p class="experience-info">
                    During my internship at CodSoft, I undertook and delivered three notable web
                    development projects: a refined <a
                        href="https://sanandiyayash.github.io/codsoft/task1/Landing_page/" target="_blank">Landing</a>
                    page leveraging HTML and CSS, an engaging
                    <a href="https://portfolio-qd69.onrender.com/" target="_blank">Portfolio</a> website incorporating
                    HTML, CSS, and JavaScript, and a robust <a
                        href="https://sanandiyayash.github.io/codsoft/task3/calculator" target="_blank">Calculator</a>
                    application developed with HTML, CSS, and JavaScript. These endeavors underscore
                    my adeptness in front-end development and adept problem-solving abilities in web
                    application design.
                </p>
                <p class="technologies">
                    <strong>Technologies Used:</strong> Html, Css, JavaScript.
                </p>
            </div>


        </div>
        <script src="https://unpkg.com/scrollreveal"></script>
        <script src="/js/index.js"></script>
</body>

</html>