<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contact | Sanandiya Yash</title>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/project.css">

</head>

<body>
    <%- include('./include/nav') %>
        <div class="projects-section">
            <h1>Projects</h1>
            <div class="project-card">
                <h2>Property Management</h2>
                <p class="p-c-info">
                    I developed a Property Management system using Node.js and MongoDB, enabling efficient CRUD
                    operations for
                    rental
                    properties. Integration of Mapbox's API enhanced geospatial data visualization, aiding users in
                    property
                    location
                    analysis. A robust Review System was implemented with RESTful API endpoints and MongoDB, allowing
                    users to
                    post, edit,
                    and delete reviews seamlessly. User authentication was ensured through Passport.js with Passport
                    Local and
                    Passport-Local-Mongoose strategies, enhancing security. Express.js was utilized for server-side
                    routing and
                    middleware,
                    optimizing API performance and scalability. These implementations collectively provided a secure,
                    efficient,
                    and
                    user-friendly platform for managing rental properties and user reviews.
                </p>
                <p class="technologies">
                    <strong>Technologies Used:</strong> HTML, CSS, Node JS, Express JS, MongoDB
                </p>
                <div class="icons">
                    <a href="https://github.com/sanandiyayash/wonderlust" target="_blank">
                        <i class="ri-github-line"></i>
                    </a>
                    <a href="https://wonderlust-ggug.onrender.com/" target="_blank">
                        <i class="ri-external-link-line"></i>
                    </a>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/scrollreveal"></script>
        <script src="/js/index.js"></script>
</body>

</html>