<header>
    <nav>
        <div class="logo z">Sanandiya <span>Yash</span></div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/experiance">Experiance</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="menu-icon z"><i class="ri-menu-line"></i></div>
        <div class="menu-close z"><i class="ri-close-fill"></i></div>
    </nav>
</header>